		<div id="header">
	  		<div id="logo"><a href="/">probaz.ru</a></div>
	  		<ul id="tabnav">
	  			<li id="person"><a href="#first" id="tab_first" class="tab">Соискателю</a></li>
	  			<li id="company"><a href="#second" id="tab_second" class="tab">Работодателю</a></li>
	  			<li id="agency"><a href="#third" id="tab_third" class="tab">Агентству</a></li>
	  		</ul>
	  	</div><!-- end header -->
	  	
	  	<div id="features">
	  		<div id="panel_first" class="panel" style="display:none;">
		  		<h2>Зарабатывайте</h2>
		  		<p>
		  			Вам необходим дополнительный заработок? <br />
					Вы общительны и готовы работать с людьми? <br /> На нашем сайте Вы сможете легко и быстро найти временную работу.
		  		</p>
		  		<p><a href="/register_path">Присоединяйтесь!</a></p> 
	  		</div>
	  		<div id="panel_second" class="panel" style="display:none;">
		  		<h2>Найдите сотрудников</h2>
		  		<p>
		  			Вам срочно необходимо найти сотрудников для проведения акций и мероприятий? <br />
		  			Воспользуйтесь нашим порталом для поиска лучших сотрудников для решения Ваших BTL-задач. Это очень просто необходимо всего лишь зарегистрироваться на портале.
		  		</p>
		  		<p><a href="/register_path">Попробуйте!</a></p> 
	  		</div>
	  		<div id="panel_third" class="panel" style="display:none;">
		  		<h2>Специальное предложение</h2>
		  		<p>
		  			Для BTL-агентств мы подготовили специальное предложение, вы можете значительно снизить затраты на подбор сотрудников для различных мероприятий воспользовавшись нашим порталом. Зарегистрируйтесь и попробуйте. Очень скоро Вы в этом убедитесь.		  			
		  		</p>
		  		<p><a href="/register_path#">Работайте!</a></p> 
	  		</div>	  			  		
	  	</div><!-- end features -->