	  	<div id="top_menu">
	  		<ul>
	  			<li><%= link_to 'Свяжитесь с нами', contact_path %></li>
	  			<li> | </li>
	  			<li><%= link_to 'Регистрация', register_path_url %></li>
	  			<li> | </li>
	  			<li><%= link_to 'Вход для соискатилей', promologin_path_url %></li>
	  			<li> | </li>
	  			<li><%= link_to 'Вход для организаций', firmlogin_path_url %></li>
	  		</ul>
  		</div><!-- end top_menu -->