<h1>Языки</h1>

<table>
  <tr>
    <th>Название</th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%= link_to language.name, edit_language_path(language) %></td>
    <td><%= link_to 'Удалить', language, :confirm => 'Вы уверенны?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый язык', new_language_path %>
<br />
<%= link_to "назад",adminmain_path_url(:page => 4)  %>