<h1>Специализации анкет</h1>

<table>
  <tr>
    <th>Название</th>
  </tr>

<% @ankgroups.each do |ankgroup| %>
  <tr>
    <td><%= link_to ankgroup.name, edit_ankgroup_path(ankgroup) %></td>
    <td><%= link_to 'Удалить', ankgroup, :confirm => 'Вы уверенны?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая специализация', new_ankgroup_path %>
<br/>
<%= link_to "назад",adminmain_path_url(:page => 4)  %>