<h1>Города</h1>

<table>
  <tr>
    <th>Название</th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= link_to city.name, edit_city_path(city) %></td>
    <td><%= link_to 'Удалить', city, :confirm => 'Вы уверенны?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый город', new_city_path %>
<br />
<%= link_to "назад",adminmain_path_url(:page => 4)  %>